@import "variables.scss";
@import "type.scss";
@import "forms.scss";
@import "buttons.scss";
@import "nav.scss";
@import "chord-template.scss";
@import "chord-sheets.scss";


// temp styles while things get reorganized

#root {
  padding: 1rem 1rem;
}

body {
  margin: 0;
  padding: 0;
}



/* Chord Sheet */
.chord-sheet-wrapper {
  width: 80%;
  margin: 0 auto;
}

/* Chord Sheet main */
.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.invisible:hover {
  opacity: .5 !important;
}

/* Chord Template */


.button-delete {
  border-radius: 4px;
  background: rgb(66, 184, 221);
  font-size: 70%;
  margin-bottom: 3px;
}

header {
  text-align:center;
  padding-bottom: 20px;
}



/* Menu Bar */
.menu-bar {
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
}
.menu-bar button {
  /*margin-left: 3%;*/
}


