// Buttons
button, .button {
  text-align: center;
  border: none;
  text-decoration: none;
  box-shadow: $button-box-shadow;
  transition: transform .15s ease-in-out;

  &--large {
    font-size: 1rem;
    padding: 11px 132px;
  }

  &--med {
    padding: .75rem 5rem;
    font-size: 1rem;
  }

  &--small {
    padding: .5rem 2.5rem;
    font-size: .75rem;
  }

  &--x-small {
    padding: .25rem 2rem;
  }

  &--grey {
    background-color: $input-grey;
  }

}