.card {
  width: 300px;
  margin: 0 auto;
  background: linear-gradient(#fff,#f2f6f9);
  box-shadow: $card-box-shadow;
  padding: 2rem 1rem;

  &__login, &__register {
    text-align: center;
  }

  &__input-item {
    margin-bottom: 1rem;
    text-align: left;
  }
}

input {
  display: block;
  background-color: $input-grey;
  margin-top: 5px;
  border-style: none;
  padding: 10px 12px;
  border-radius: 5px;
  box-shadow: $input-box-shadow;
  box-sizing: border-box;
  width: 100%;
}

label {
  font-size: .75rem;
}