// Text Styling
h1, h2, h3, h4, h5, h6, .nav { font-family: $heading-font; }
p { font-family: $body-font; color: $body-text-color; }

// Set base font size for rems
html { font-size: 100%; }

h1, .h1 { font-size: 2rem; }
h2, .h2 { font-size: 1.5rem; }

a, a:visited {
  color: $body-text-color;
  transition: color .25s ease-in-out
}

a:hover {
  color: $link-hover-color;
}