body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  margin-top: 5%;
}

.chord-template {
  display: inline;
}

/* Chord Sheet */
.chord-sheet-wrapper {
  width: 80%;
  margin: 0 auto;
}

/* Chord Sheet main */
.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.invisible:hover {
  opacity: .5 !important;
}

/* Chord Template */
.chord-template {
  text-align: center;
}

.button-delete {
  border-radius: 4px;
  background: rgb(66, 184, 221);
  font-size: 70%;
  margin-bottom: 3px;
}

header {
  text-align:center;
  padding-bottom: 20px;
}

nav {
  position: static;
  width: 100%;

  text-shadow: 0 -1px 0px rgba(0,0,0,.9);
  text-transform: uppercase;

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 0.25em;
}

/* Menu Bar */
.menu-bar {
  margin-bottom: 3%;
}
.menu-bar button {
  /*margin-left: 3%;*/
}

/* Chord Template Component */
.chord-template {
  width: 140px;
  height: 180px;
}
