body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.chord-template {
  display: inline;
}

/* Chord Sheet */
.chord-sheet-wrapper {
  width: 80%;
  margin: 0 auto;
}

/* Chord Sheet main */
.App {
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.invisible:hover {
  opacity: .5 !important;
}

/* Menu Bar */
.menu-bar {
  margin-bottom: 3%;
}
.menu-bar button {
  margin-left: 3%;
}
